* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2em;
  margin: 17px;
  font-weight: bold;
}

.link{
 font-size: 13px;
 margin: 33px; 
}

main{
  font-size: 13px;
  margin: 33px;
}